@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nibiru-font";
  src: url(/fonts/nibiru_beta_v0.8.ttf) format("truetype");
}

.nibiru-font {
  font-family: "nibiru-font";
}
